# Database Configuration (DESENVOLVIMENTO LOCAL)
DB_USER=xxxxxxxxxxxxxxxx
DB_PASSWORD=xxxxxxxxxxxxxxxx
DB_NAME=rewards_db
DB_PORT=xxxx

# Backend Configuration
BACKEND_PORT=xxxx
SECRET_KEY=xxxxxxxxxxxxxxxx
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Frontend Configuration
VITE_API_URL=http://localhost:xxxx

# Environment
ENVIRONMENT=development